<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFlag Dashboard</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <button id="editButton" class="edit-button">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button id="createButton" class="create-button">
            <i class="fa-solid fa-plus"></i>
        </button>
        <table id="dashboard">
            <thead>
                <tr>
                    <th>Flag</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
